/* footer */
footer {
    background-color: black;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}
footer h3 {
    font-size: 25px;
}
@media (max-width: 768px){
    footer h3 {
        font-size: 20px;
    }
    footer h3 a{
        font-size: 20px;
    }
}
