/* this is the menu */
.navBar {
    background-color: black;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navBar .navBarDesktop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar .navBarMobile {
    display: none;
}
.navBar .image button{
   background-color: black;
   border: none;
}
.navBar .image img {
    border-radius: 50%;
    border:  10px solid rgba(245, 13, 13, 0.973);
    width: 5rem;
    height: 5rem;
}
.navBar .nav {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;    
}
.navBar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
a:-webkit-any-link {
    text-decoration: none;
    color: aliceblue;
}
.navBar ul li a {
    padding: 1.5rem;
    color: aliceblue;
    font-size: 2rem;
}
.navBar form {
    cursor: pointer; 
    display: flex;
}
.navBar form input {
    height: 3rem;
    width: 25rem;    
}
.navBar form button  {
    height: 2rem;
    width: 2rem;
    border: none;
    background-color: white;
    position: relative;
    font-size: 1.5rem;
    right: 40px;
    top: 8px;
}
.navBar .nav img{
    background-color: black;    
    width: 6rem;
    height: 6rem;
}
.navBar .nav img:hover {
    -webkit-transform: rotateY(360deg);
    transition: 3s ease-in-out;
    cursor: pointer; 
}
@media (max-width: 1000px){
    .navBar ul li a {
        font-size: 1.5rem;
    }
    .navBar form input {
        width: 20rem;    
    }
}
@media (max-width: 768px) {
    .navBar form input {
        width: 15rem;    
    }
    .navBar ul li a {
        padding: 1rem;
    }
    .navBar .nav img{
        display: none;
    }
}
@media (max-width: 576px){
    .navBar .navBarDesktop {
        display: none;
    }
    .navBar .navBarMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .navBar .image {
        padding-right: 3rem;
    }
    .navBar .image img {
        width: 5.5rem;
        height: 5.5rem;
        border:  10px solid rgba(245, 13, 13, 0.973);
    }
    .navBar form input {
        width: 20rem;
    }
    .navBar .nav {
        display: flex;
        justify-content: end;
        align-items: center;  
    }
    .navBar .nav .deploy{
        padding-left: 1rem;
    }
    .navBar .nav .deploy .btmMenu {
        font-size: 3rem;
        background-image: linear-gradient(to bottom right, transparent, rgb(158, 154, 154));  
    }
    .navBar .nav .deploy .change {
        position: absolute;
        background-color: red;
        height: 25%;
        width: 100%;
        top: 100px;
        right: 0px;
    }
    .navBar .nav .deploy .change li a{
        font-size: 2.5rem;
        font-weight: bolder;
        line-height: 4rem;
    }
}
@media (max-width: 466px){
    .navBar .image {
        padding-right: 1.5rem;
    }
    .navBar .image img {
        width: 4rem;
        height: 4rem;
    }
    .navBar form input {
        width: 15rem;
        height: 2.5rem;
    }
    .navBar form button {
        font-size: 1rem;
        right: 30px;
        top: 3px;
    }
    .navBar .nav .deploy .btmMenu {
        font-size: 2rem;
    }
}